mode: train


graph:
    graph_name: SqueezeSegNet


io:
    io_name: KittiSqueezeSegIO

    data_enable_download: false
    data_dir: data/kitti_squeezeseg
    logs_dir: /tmp/run_0/logs
    model_dir: /tmp/run_0/model

    batch_size: 24
    fn_shuffle_buffer: 100

    azimuth_level: 512
    zenith_level: 64

    CLASSES: ['unknown', 'car', 'pedestrian', 'cyclist']


trainer: 
    cls_loss_coef: 15.0
    weight_decay: 0.0001
    learning_rate: 0.01
    decay_steps: 10000
    max_grad_norm: 1.0
    momentum: 0.9
    lr_decay_factor: 0.5


predictor: null


metric: null
