mode: train


graph:
    graph_name: AlexNet


io:
    io_name: KittiSqueezeSegIO

    data_enable_download: false
    data_dir: data
    logs_dir: tmp/run_0/logs
    model_dir: tmp/run_0/model

    batch_size: 24
    fn_shuffle_buffer: 100

trainer: null


predictor: null


metric: null
